<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>MR Cocktails!</h1>
      <p>Best cocktails</p>

      <%= link_to 'See all cocktails', cocktails_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
